@import "_01variables";

/* vendors */
@import "bootstrap";
@import "base";
@import "_foxcontacts_static";

/* ex- mod_starlink */
@import "_common.pcss";
@import "_menu.pcss";
@import "_footer.pcss";
@import "_article.pcss";
@import "_survey.pcss";

/* mod_calc, mod_services */
@import "starlink_calculator_outsourcing.pcss";
@import "starlink_services.pcss";

/*! template */
@import "_blog.pcss";
@import "_djimageslider.pcss";
@import "_otherstarlink.pcss";
